:root {
  --color-1: #48cae4;
  --color-2: #00b4d8;
  --color-3: #0096c7;
  --color-4: #0077b6;
  --color-5: #023e8a;
  --color-6: #0c0fac;
  --color-7: whitesmoke;
}

/* Applies to "Weather Dashboard" Header */
header {
  color: var(--color-7);
  background: linear-gradient(to bottom, #00b4d8, #023e8a);
  padding: 15px;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Applies to "Search for a City: text */
#CitySearchTitle {
  padding: 5px;

}

/* Applies to "Search for a City:" form */
form {
  display: flex;
  flex-direction: column;
  width: 200px;
  
}

/* Applies to all buttons */
button {
  margin-top: 10px;
  width: 200px;
  background: linear-gradient(to bottom, #00b4d8, #023e8a);
  color: var(--color-7);
}

button:hover {
  background: linear-gradient(to bottom, #023e8a, #00b4d8);
  color: var(--color-7);
}

/* Applies to city in the large top of screen */
#CitySearch {
  background-color: var(--color-3);
  width: 600px;
  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-7); 
  border: solid 2px black;
}

/* Applies to the weather now section */
#today {
  background-color: var(--color-3);
  color: var(--color-7);
  border: solid 2px black;
  padding: 10px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center !important;
}


/* Applies to the entire forecast box */
.ForecastBox {
  position: absolute;
  top: -65px;
  left: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  padding: 10px;
}

/* Makes Search and Result box inline */
.pageLayout {
  display: inline;
}

/* Applies to all 5 weather cards */
.CardContainer {
  display: flex;
  flex-direction: row;
 justify-content: center;
}

/* Applies to each individual weather card */
.card {
  border: solid 2px black;
  width: 180px;
  margin-top: 10px;
}

/* Applies to the entire searching for city section */
.SearchAndHistorySection {
  border: solid 2px black;
  padding: 10px;
  padding-top: 20px;
  margin-top: 30px;
  margin-left: 30px;
  width: 270px;
}

/* 5 Day forecast style by card */
#day1 {
  background-color: var(--color-1);
  color: whitesmoke;
}
#day2 {
  background-color: var(--color-2);
  color: whitesmoke;
}
#day3 {
  background-color: var(--color-3);
  color: whitesmoke;
}
#day4 {
  background-color: var(--color-4);
  color: whitesmoke;
}
#day5 {
  background-color: var(--color-5);
  color: whitesmoke;
}