:root {
  --color-1: #48cae4;
  --color-2: #00b4d8;
  --color-3: #0096c7;
  --color-4: #0077b6;
  --color-5: #023e8a;
  --color-6: #03045e;

}

/* Applies to "Weather Dashboard" Header */
header {
  color: var(--color-6);
  background: linear-gradient(to bottom, #00b4d8, #023e8a);
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* Applies to "Searcg for a City: text */
.CitySearch {
  padding: 20px;
  color: var(--color-6);
}

/* Applies to "Search for a City:" form */
form {
  display: flex;
 flex-direction: column;
 width: 200px;
}
button {
  margin-top: 10px;
}