:root {
  --color-1: #48cae4;
  --color-2: #00b4d8;
  --color-3: #0096c7;
  --color-4: #0077b6;
  --color-5: #023e8a;
  --color-6: #03045e;
}

/* Applies to "Weather Dashboard" Header */
header {
  color: var(--color-6);
  background: linear-gradient(to bottom, #00b4d8, #023e8a);
  padding: 15px;
  display: flex;
  justify-content: center;
}

/* Applies to "Searcg for a City: text */
.CitySearch {
  padding: 5px;
  color: var(--color-6);
  display: flex;
  justify-content: center;
}

/* Applies to "Search for a City:" form */
form {
  display: flex;
  flex-direction: column;
  width: 200px;
}
button {
  margin-top: 10px;
  width: 200px;
  background: linear-gradient(to bottom, #00b4d8, #023e8a);
}

#CitySearch {
  background: linear-gradient(to bottom, #00b4d8, #023e8a);
  width: 600px;
  display: flex;
  align-items: center;
}

#today {
  background: linear-gradient(to bottom, #00b4d8, #023e8a);
}

.ForecastBox {
  position: absolute;
  top: -65px;
  left: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  padding: 10px;
}

.pageLayout {
  display: inline;
}

.CardContainer {
  display: flex;
  flex-direction: row;
 justify-content: center;
}

.card {
  border: solid 2px black;
}

.SearchAndHistorySection {
  border: solid 2px black;
  padding: 10px;
  padding-top: 20px;
  margin-top: 30px;
  margin-left: 30px;
  width: 270px;
}